.video-container {
    width: 100vw; /* Volle Breite des Viewports */
    height: 90vh; /* Fast die volle Höhe des Viewports */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; /* Schwarzer Hintergrund für Kino-Feeling */
}

.video-js {
    width: 90%; /* Player nimmt 90% der Breite */
    height: 90%; /* Player nimmt 90% der Höhe */
    max-width: 1200px; /* Begrenzung für große Bildschirme */
    max-height: 700px; /* Maximalhöhe */
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2); /* Leichter Schatten */
}

.vjs-menu-button {
    color: white;
  }
  
  .vjs-menu-content {
    background: rgba(0, 0, 0, 0.8);
    color: white;
  }

  ::ng-deep.quality-dropdown-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    bottom: 36px;
    position: absolute;
    right: 6px;
}

::ng-deep.quality-option{
  cursor: pointer;

  &:hover{
    color: aqua;
  }
}

::ng-deep.video-js .vjs-control{
  cursor: pointer;
}
  