.video-container {
  position: relative;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container .custom-controls {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
}

.video-container:hover .custom-controls {
  opacity: 1;
  pointer-events: auto;
}

.video-wrapper {
  position: relative;
  width: 90%;
  max-width: 1200px;
}

.video-wrapper video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
  color: white;
  font-size: 25px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 6px;
  transition: background 0.3s;
  opacity: 0;
  pointer-events: none;
}

.video-wrapper:hover .close-btn {
  opacity: 1;
  pointer-events: auto;
}

.close-btn:hover {
  background: rgba(255, 0, 0, 0.7);
}

.control-btn {
  background: none;
  border: none;
  color: white;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 20px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

::ng-deep .mat-mdc-menu-panel {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

::ng-deep .mat-mdc-menu-item-text {
  color: white;
}

.mat-mdc-menu-item {
  min-height: 32px;

  &:hover {
    background: rgba(255, 255, 255, 0.2) !important;
  }
}
