<img class="background-img" src="assets/img/ticket.jpg" alt="">

<section>
    <div class="header">
        <img class="logo-img" src="assets/img/logo.svg" alt="">
        <button mat-flat-button>Log in</button>
    </div>

    <mat-card appearance="outlined">
        <mat-card-content class="card-content">
            <h1>Reset password</h1>
            <p>Create a new password for your <span>Videoflix</span><br>account</p>

            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="form">

                    <mat-form-field class="input-field" appearance="outline">
                        <input matInput placeholder="Password" [type]="hidePassword() ? 'password' : 'text'"
                            formControlName="password" />
                        <button mat-icon-button matSuffix (click)="clickEvent('password', $event)">
                            <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error *ngIf="password?.hasError('required')">Password is required.</mat-error>
                        <mat-error *ngIf="password?.hasError('minlength')">Password must be at least 6
                            characters.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="input-field" appearance="outline">
                        <input matInput placeholder="Confirm Password"
                            [type]="hideConfirmedPassword() ? 'password' : 'text'"
                            formControlName="confirmedPassword" />
                        <button mat-icon-button matSuffix (click)="clickEvent('confirmedPassword', $event)">
                            <mat-icon>{{ hideConfirmedPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error *ngIf="confirmedPassword?.hasError('required')">Confirm password is
                            required.</mat-error>
                        <mat-error *ngIf="confirmedPassword?.hasError('minlength')">Password must be at least 6
                            characters.</mat-error>
                        <mat-error *ngIf="passwordMismatch">Passwords do not match!</mat-error>
                    </mat-form-field>
                </div>
                <div class="btn-box">
                    <button mat-flat-button type="submit" [disabled]="!isFormValid()">Reset my password</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <div class="footer">
        <span [routerLink]="['/privacyPolicy']">Datenschutz</span>
        <span [routerLink]="['/legalNotice']">Impressum</span>
    </div>
</section>