<img class="background-img" src="assets/img/ticket.jpg" alt="">

<section>
    <div class="header">
        <img class="logo-img" src="assets/img/logo.svg" alt="">
        <button mat-flat-button [routerLink]="['/login']">Log in</button>
    </div>

    <mat-card appearance="outlined">
        <mat-card-content class="card-content">
            <h1>Forgot your <br>password?</h1>
            <p>We will send you an email with instructions to <br>reset your password.</p>

            <!-- Falls E-Mail erfolgreich gesendet wurde, ersetze das Formular durch eine Nachricht -->
            <div *ngIf="emailSent; else resetPasswordFormTemplate">
                <h2 class="bestätigungstitel">✅ Check your inbox!</h2>
                <p class="bestätigungstext">We've sent you a password reset email. Please check your inbox.</p>
                <button mat-flat-button (click)="resendEmail()">Resend Email</button>
            </div>

            <!-- Original-Formular wird nur angezeigt, wenn `emailSent` false ist -->
            <ng-template #resetPasswordFormTemplate>
                <form [formGroup]="loginForm" (ngSubmit)="sendEmail()">
                    <div class="form">
                        <mat-form-field class="input-field" appearance="outline">
                            <input matInput placeholder="Email Address" formControlName="email" />
                            <mat-error *ngIf="email?.hasError('required')">Email is required.</mat-error>
                            <mat-error *ngIf="email?.hasError('email')">Enter a valid email.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="btn-box">
                        <button mat-flat-button type="submit" [disabled]="!isFormValid()">Send Email</button>
                    </div>

                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>
                </form>
            </ng-template>

        </mat-card-content>
    </mat-card>

    <div class="footer">
        <span [routerLink]="['/privacyPolicy']">Datenschutz</span>
        <span [routerLink]="['/legalNotice']">Impressum</span>
    </div>
</section>
